<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Kirish | HEMIS Statistika</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/AdminLTE.min.css">
  <style>
    body { background-color: #d2d6de !important; }
    .login-box-body { border-radius: 10px; box-shadow: 0 5px 15px rgba(0,0,0,0.1); }
  </style>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo"><b>HEMIS</b> Statistika</div>
  <div class="login-box-body">
    <p class="login-box-msg">Tizimga kirish uchun login va parolni yozing</p>
    <form method="post">
      <div class="form-group has-feedback">
        <input type="text" name="username" class="form-control" placeholder="Login" required>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Parol" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <button type="submit" class="btn btn-primary btn-block btn-flat">Kirish</button>
    </form>
  </div>
</div>
</body>
</html>