absl-py==2.3.1
aiofiles==24.1.0
aiogram==3.20.0.post0
aiohappyeyeballs==2.4.6
aiohttp==3.11.12
aiosignal==1.3.2
ale-py==0.11.2
alembic==1.16.4
altgraph==0.17.4
amqp==5.3.1
annotated-types==0.7.0
anyio==4.9.0
argon2-cffi==25.1.0
argon2-cffi-bindings==25.1.0
arrow==1.3.0
asgiref==3.7.2
asttokens==3.0.0
async-lru==2.0.5
attrs==25.1.0
auto-py-to-exe==2.43.3
autobahn==24.4.2
babel==2.17.0
beautifulsoup4==4.13.3
bidict==0.23.1
billiard==4.2.1
binaryornot==0.4.4
bleach==6.2.0
blinker==1.9.0
bottle==0.12.25
bottle-websocket==0.2.9
Brotli==1.1.0
celery==5.5.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpickle==3.1.1
colorama==0.4.6
comm==0.2.3
comtypes==1.4.2
contourpy==1.3.1
cookiecutter==2.6.0
cryptography==41.0.7
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
deep-translator==1.11.4
defusedxml==0.7.1
dj-database-url==2.3.0
Django==4.2
django-allauth==0.60.1
django-ckeditor @ file:///C:/Users/user/Desktop/ko%27mak/paket/django_ckeditor-6.2.0-py2.py3-none-any.whl#sha256=9f66420907e41f5b4e698fa5671a00a86995776735f2c4696174aed4640fcbd8
django-heroku==0.3.1
django-js-asset @ file:///C:/Users/user/Desktop/ko%27mak/paket/django_js_asset-1.2.2-py2.py3-none-any.whl#sha256=8ec12017f26eec524cab436c64ae73033368a372970af4cf42d9354fcb166bdd
django-taggit==6.1.0
djangorestframework==3.14.0
docxcompose==1.4.0
docxtpl==0.20.0
Eel==0.16.0
environs==10.3.0
et-xmlfile==1.1.0
executing==2.2.1
Farama-Notifications==0.0.4
fastapi==0.115.12
fastjsonschema==2.21.2
filelock==3.13.1
Flask==3.1.0
Flask-Login==0.6.3
Flask-Migrate==4.1.0
Flask-SocketIO==5.5.1
Flask-SQLAlchemy==3.1.1
flet==0.27.6
flet-box-gui==0.1.2.2
flet-cli==0.27.6
flet-core==0.24.1
flet-desktop==0.27.6
flet-runtime==0.24.1
flet-web==0.27.6
fonttools==4.56.0
fpdf==1.7.2
fqdn==1.5.1
frozenlist==1.5.0
fsspec==2024.6.1
future==1.0.0
fuzzywuzzy==0.18.0
g4f==0.4.9.8
gevent==24.2.1
gevent-websocket==0.10.1
gitdb==4.0.12
GitPython==3.1.44
greenlet==3.0.3
grpcio==1.76.0
gunicorn==23.0.0
gymnasium==1.2.1
h11==0.14.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
hyperlink==21.0.0
idna==3.6
imageio==2.36.1
ipykernel==7.0.0
ipython==9.6.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.4
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_proxy==4.4.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_vpython==3.1.8
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
kombu==5.5.2
lark==1.3.0
lazy_loader==0.4
Levenshtein==0.27.1
lxml==5.2.2
magic-filter==1.0.12
Mako==1.3.10
Markdown==3.9
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.23.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.4
mpmath==1.3.0
multidict==6.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
notebook==7.4.7
notebook_shim==0.2.4
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.10.0.84
openpyxl==3.1.3
outcome==1.3.0.post0
packaging==24.0
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.5
pefile==2023.2.7
pillow @ file:///C:/Users/user/Desktop/ko%27mak/paket/pillow-10.3.0-cp312-cp312-win_amd64.whl#sha256=412444afb8c4c7a6cc11a47dade32982439925537e483be7c0ae0cf96c4f6a0b
pip-chill==1.0.3
platformdirs==4.5.0
prometheus_client==0.23.1
prompt_toolkit==3.0.50
propcache==0.2.1
protobuf==6.33.0
psutil==7.0.0
psycopg2==2.9.10
pure_eval==0.2.3
py-cpuinfo==9.0.0
pycparser==2.21
pycryptodome==3.22.0
pydantic==2.11.1
pydantic_core==2.33.0
pygame==2.6.1
Pygments==2.19.1
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
PyJWT==2.8.0
pyparsing==3.1.2
pyperclip==1.9.0
pypng==0.20220715.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.16.1
PyQt6==6.8.1
PyQt6-Qt6==6.8.2
PyQt6_sip==13.10.0
PySocks==1.7.1
pyspeedtest==1.2.7
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-engineio==4.12.3
python-json-logger==4.0.0
python-Levenshtein==0.27.1
python-slugify==8.0.4
python-socketio==5.14.3
python-telegram-bot==22.0
python3-openid==3.2.0
pytz==2020.1
pywin32==308
pywin32-ctypes==0.2.2
pywinpty==3.0.2
PyYAML==6.0.2
pyzmq==27.1.0
qrcode==7.4.2
RapidFuzz==3.13.0
redis==5.2.1
referencing==0.36.2
repath==0.9.0
reportlab==4.2.5
requests==2.32.3
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987-syntax==1.1.0
rich==13.9.4
rpds-py==0.27.1
scikit-image==0.24.0
scipy==1.14.1
seaborn==0.13.2
selenium==4.28.1
Send2Trash==1.8.3
setuptools==75.8.0
simpervisor==1.0.0
simple-websocket==1.1.0
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
speedtest-cli==2.1.3
SQLAlchemy==2.0.43
sqlparse==0.4.4
stable_baselines3==2.7.0
stack-data==0.6.3
starlette==0.46.1
sumolib==1.24.0
sympy==1.13.1
tensorboard==2.20.0
tensorboard-data-server==0.7.2
terminado==0.18.1
text-unidecode==1.3
tifffile==2024.9.20
tinycss2==1.4.0
tk==0.1.0
toml==0.10.2
torch==2.6.0+cpu
torchaudio==2.6.0+cpu
torchvision==0.21.0+cpu
tornado==6.5.2
tqdm==4.67.1
traci==1.24.0
traitlets==5.14.3
trio==0.28.0
trio-websocket==0.11.1
txaio==25.9.2
types-python-dateutil==2.9.0.20241206
typing-inspection==0.4.0
typing_extensions==4.13.0
tzdata==2025.2
ultralytics==8.3.86
ultralytics-thop==2.0.14
uri-template==1.3.0
urllib3==2.1.0
uvicorn==0.34.0
vine==5.1.0
vpython==7.6.5
watchdog==4.0.2
watchfiles==1.0.4
wcwidth==0.2.13
webcolors==24.11.1
webdriver-manager==4.0.2
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
whichcraft==0.6.1
whitenoise==6.8.1
widgetsnbextension==4.0.14
wsproto==1.2.0
XlsxWriter==3.2.2
yarl==1.18.3
zope.event==5.0
zope.interface==6.4
